section.gradient button {
    color: #d1d1e0;
    background-color: #3e3e5b;
    <!--background-image: -webkit-gradient(linear, left top, left bottom, from(#6496c8), to(#346392));
    background-image: -webkit-linear-gradient(top, #6496c8, #346392);
    background-image: -moz-linear-gradient(top, #6496c8, #346392);
    background-image: -o-linear-gradient(top, #6496c8, #346392);
    background-image: -ms-linear-gradient(top, #6496c8, #346392);
    background-image: linear-gradient(top, #6496c8, #346392);-->
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#ff9664', EndColorStr='#c86432');
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}
section.gradient button:hover,
section.gradient button:active,
section.press button {
    color: #d1d1e0;
    background-color: #3e3e5b;
    border: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
section.press button:hover,
section.press button.hover {
    background-color: #3e3e5b
}
section.press button:active,
section.press button.active {
    background-color: #3e3e5b;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px)
}
@media all and (max-width: 960px) {
    button {
        font-size: 20px
    }
}
@media all and (max-width: 720px) {
    button {
        font-size: 20px;
        padding: 10px 30px
    }
}
@media all and (max-width: 540px) {
    section {
        text-align: center
    }
    button {
        margin: 0 10px 20px 10px;
        font-size: 16px
    }
}